<!-- _footer.ejs -->
<script src="https://kit.fontawesome.com/a4c9bc2fa3.js" crossorigin="anonymous"></script>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <p>We are happy to be Your trusted source for signature plant based dishes!</p>

<!-- Footer Elements -->
<div class="container">

  <!-- Grid row-->
  <div class="social">
        <!-- Facebook -->
        <a class="fb-ic">
          <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Pinterest-->
        <a class="pin-ic">
          <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
        </a>
  </div>
  <!-- Grid row-->

</div>
<!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Project by Lighthouse Labs Students
    <a href="https://github.com/yuzhakova/restaurant-takeout-app">
      Restaurant Takeout App</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
