<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://kit.fontawesome.com/a4c9bc2fa3.js" crossorigin="anonymous"></script>

    <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">

      <!-- <h1 class="nav-logo">order online</h1> -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/order">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li> -->
        </ul>

        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <li class="nav-social">
              <a class="nav-link"><i class="fas fa-mobile-alt"></i></a>
            </li>
            <li class="nav-social">
              <a class="nav-link"><i class="fas fa-utensils"></i></a>
            </li>
            <li class="nav-social">
            <a class="nav-link"><i class="fas fa-sms large"></i></a>
            </li>
          </li>
        </ul>

      </div>
    </nav>

    </header>

</html>
