<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shopping Bag</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>


  </head>

  <body>
<<<<<<< HEAD

    <h1>Order Page</h1>
  </body>
=======
    <%- include('partials/_header') %>
    <div class="container">
    <article class="card">
        <header class="card-header"> FEED-ly family is thanking you for choosing us today!</header>
        <div class="card-body">
            <h6>Order ID: OD45345345435</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Order now to have it ready by:</strong> <br>3:45PM July 31, 2020 </div>
                    <div class="col"> <strong>Pick up:</strong> <br>FEED-ly @777 Cardero St. | <i class="fa fa-phone"></i> +16048805245 </div>
                    <div class="col"> <strong>Status:</strong> <br> Pending </div>
                </div>
            </article>
            <hr>
            <ul class="row">
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="https://raw.githubusercontent.com/yuzhakova/restaurant-takeout-app/master/public/images/1-main-buddha-bowl.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">Buddha Bowl <br> qty: 1</p> <span class="text-muted">$9.99</span>
                            <a class="btn btn-warning add-item">+</a>
                            <a class="btn btn-warning remove-item">-</a>
                            <a class="item-qty">1</a>
                          </figcaption>
                    </figure>
                </li>
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="https://raw.githubusercontent.com/yuzhakova/restaurant-takeout-app/master/public/images/1-main-spinach-yo.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">Zoodles & Spinach<br> qty: 1</p> <span class="text-muted">$8.99 </span>
                            <a class="btn btn-warning add-item">+</a>
                            <a class="btn btn-warning remove-item">-</a>
                            <a class="item-qty">1</a>
                          </figcaption>
                    </figure>
                </li>
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="https://raw.githubusercontent.com/yuzhakova/restaurant-takeout-app/master/public/images/3-dessert-cheesecake.jpg" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">Cheesecake <br> qty: 2</p> <span class="text-muted">$5.99 </span>
                            <a class="btn btn-warning add-item">+</a>
                            <a class="btn btn-warning remove-item">-</a>
                            <a class="item-qty">1</a>
                          </figcaption>
                    </figure>
                </li>
            </ul>
            <hr>
            <a href="/menu"class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to Menu</a>
            <a href="/confirmation"class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-right"></i> Confirm and Pay</a>
        </div>
    </article>
    </div>
</body>
>>>>>>> a5a465c72216d3600ab3933878e8f0be378bda85
</html>
