<!DOCTYPE html>
<html lang="en">

  <head>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  </head>

  <body class="text-center index">
    <%- include('partials/_header') %>
    <h1 class="index-logo">@FEED-ly</h1>
    <h1 class="index-logo">quick-ly</h1>
    <h1 class="index-logo">thankful-ly</h1>
    <h2> We make delicious and healthy meals from locally sourced seasonal ingredients. </h3>
    <p>Are you a returning customer?</p>
    <button class="index-button">
      <a href="/index">Login</a>
    </button>
    <button class="index-button">
      <a href="/register">Register</a>
    </button>
  </div>
  <%- include('partials/_footer') %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
