<!DOCTYPE html>
<html lang="en">

  <head>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  </head>

  <body class="text-center index">
    <%- include('partials/_header') %>
    <h1 class="index-logo"><strong>@FEED-ly</strong><br><span>quick-ly<br>thankful-ly</span><h1>

    <h2> We make delicious and healthy meals from locally sourced seasonal ingredients. </h3>
  </div>
  <%- include('partials/_footer') %>
  </body>

</html>
