<!DOCTYPE html>
<html lang="en">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <head>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="menu">

      <div class="col-md-4 mb-5">

        <div class="card-body row">

          <h1>Mains</h1>
          <section id="menu_item_mains">
          </section>


          <h1>Soups</h1>
          <section id="menu_item_soups">
          </section>

          <h1>Desserts</h1>
          <section id="menu_item_desserts">
          </section>

          <hr>
          <button class="cart-button">
            <a href="/Checkout">Cart</a>
          </button>
        </div>



          <%- include('partials/_footer') %>
          <script type="text/javascript" src="/scripts/menuScript.js"></script>
      </div>
  </body>
</html>




