<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>
    <!-- Need to build the route and add the file reference -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="menu">
      <div class="menu-item">
        <a href="#mains">Mains</a>
        <a href="#soups">Soups</a>
        <a href="#desserts">Desserts</a>
    </div>

    <!-- <div> -->
      <!-- <ul class="menu-list"> -->
        <p><%= templateVars[0].anonymous.email %></p>



      <div id="mains">
        <h1>Mains</h1>
        <h4>Item 1</h4>
        <p>Menu Description</p>
        <h4>Item 2</h4>
        <p>Menu Description</p>
        <h4>Item 3</h4>
        <p>Menu Description</p>
      </div>

    <!-- <ul class="menu-list"> -->
      <div id="soups">
        <h1>Soups</h1>
        <h4>Item 4</h4>
        <p>Menu Description</p>
        <h4>Item 5</h4>
        <p>Menu Description</p>
      </div>

    <!-- <ul class="menu-list"> -->
      <div id="desserts">
        <h1>Desserts</h1>
        <h4>Item 6</h4>
        <p>Menu Description</p>
      </div>

    <!-- </div> -->
        <!-- Question: How do we connect db items/records to ejs files? -->




    <!-- Need to build the route and add the file reference -->
    <button class="cart-button">
      <a href="/Order">Cart</a>

    <%- include('partials/_footer') %>
  </body>
</html>




