.index {
  background-image: url('/images/_coverpage_1.jpg');
  background-size: 100vw 100vh;

  h2 {
    font-size: 2.5vw;
    color: white;
    font-stretch: ultra-expanded;

  }
  p {
    font-size: 2vw;
  }

  .index-logo {
    color: #00413a;
    font-weight: 900;
  }

  .index-button {
    border: olive;
    border: solid;
    font-size: x-large;
    font-family: "Bungee";
    background-color:#9ccc9c;
    color: darkolivegreen;
    padding: 10px;
    display: inline-block;


    &:hover {
      cursor: pointer;
      outline: 2px solid #ffff00;
    }

    a {
      color: #ffff00;

      &:hover {
        color: #5ca08e;
        text-decoration: none;
      }
    }
  }
}
