// See: https://sass-lang.com/

body {

  h1 {
    color: #cc3300;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  // text-align: center;
}

.social {
margin-bottom: 1em;
}


