.menu {
  //background-image: url('../images/_coverpage_2.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin-bottom: 0;
  padding-top: 90px;

  border-top: none;
  position: relative;
  margin: 0;
  -webkit-margin-before: 1.33em;
  margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;

.user {
  width: 300px;
  height: 200px;
}

.menu_display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#add {
  display: inline-block;
  padding: 10px
}

#subtract {
  display: inline-block;
  padding: 10px
}


.menu_info {
  display: flex;
  flex-direction: column;
}

.menu-info-and-button {
  display: flex;
  align-content: space-between;
}

.add-to-cart {
  width: 80;
  height: 50;
}

}
.container-full {
    width:100%;
}
.menu-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 20rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;

  a {
    text-decoration: none;
    color: #f5f5dc;
    margin: 0 3rem;
  }
}

.menu-list {
  list-style-type: none;
}

#mains {
  // background-color: #b8bc86;
  // border: 2px solid rgb(243, 214, 171);
}
#soups {
  // border: 2px solid rgb(243, 214, 171);
}
#desserts {
  // border: 2px solid rgb(243, 214, 171);
}

.cart-button {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
  color:black;
  margin: 4vh 2vw;

  &:hover {
    border: 1px solid rgb(243, 214, 171);
    text-decoration: none;
  }
}

//need to do proper layout with nav bar
