
.menu {
  //background-image: url('../images/_coverpage_2.jpg');
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  border-top: none;
  position: relative;
  margin: 0;
  -webkit-margin-before: 1.33em;


.user {
  width: 80%;
  height: 80%;
  margin: 20px;
}

.menu_display {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 400px;
  margin: 0.5em;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 600;

}

.menu-info-and-button {
  display: flex;
  justify-content: space-between;
  background-size: 100%;
  width: 600px;
  height: 400px;
  margin: 20px;
}

.menu_info {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #fb3;
  color: black;
  text-align: center;
  text-decoration: none;
  display: list-item;
  margin: 0;
  cursor: pointer;
  border-radius: 16px;
  width: 180px;
  height: 70px;
}



card-body {
  display: inline;
}


#add {
  display: inline-block;
  padding: 10px;
}

#subtract {
  display: inline-block;
  padding: 10px;
}

.add-to-cart {
  cursor: pointer;
  width: 90px;
  height: 50px;
  margin-left: 100px;
  margin-top: 0;

  &:hover {
    border: 1px solid rgb(243, 214, 171);
    text-decoration: none;
  }
}


}
.container-full {
    width:100%;
}
.menu-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 20rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;

  a {
    text-decoration: none;
    color: #f5f5dc;
    margin: 0 3rem;
  }
}
.item-name {
  display: block;
  font-size: 150%;
  font-weight: 600;
  margin-top: 5px;
  color: #19553c;
  text-decoration: underline;

}

.menu-list {
  list-style-type: none;
}

#mains {
  // background-color: #b8bc86;
  // border: 2px solid rgb(243, 214, 171);
}
#soups {
  // border: 2px solid rgb(243, 214, 171);
}
#desserts {
  // border: 2px solid rgb(243, 214, 171);
}

.cart-button {
  cursor: pointer;
  width: 160px;
  height: 70px;
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
  color:black;
  margin-top: 0;
  margin-bottom: 0;

  &:hover {
    border: 1px solid rgb(243, 214, 171);
    text-decoration: none;
  }
}

//need to do proper layout with nav bar
.mb-5, .my-5 {
  margin-bottom: 3rem!important;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;

}

